tracy:
	showBar: false

parameters:
	config:
		section:
			loc: xxx
			app: yyy

services:
	- App\Model\Config(%config.section.loc%, %config.section.app%)
	- App\Model\Tracking

includes:
	- extensions.neon
